{% extends "index.html" %}
{% block title %}Sign In{% endblock title %}
{% block link %}
    {% load static %}
    <link rel="stylesheet" href ={% static "signIn.css" %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap" rel="stylesheet">
{% endblock link %}

{% block body %}
<div class="container center">
    <div class="left">

    </div>
    <div class="right">

    </div>
    <div class="login center">
        <p class="heading">EventSpark</p>
        <p class="item2">welcome </p>
        <form action="" method="post">
            {% csrf_token %}
            <p for="" class="label1">Username or Email</p>
            <br>
            <input type="text" class="username" placeholder="Username" name="username">
            <br>
            <label for="" class="label2">Password</label>
            <br>
            <input type="text" placeholder="Password" class="password" name="password">
            <br>
            <button type="submit" id="button">Continue</button>
            <a href="#" id="new-account">or create new Account</a>
        </form>
        <p id="orloginwith">or login as a </p>
        <div class="loginoptioncontainer">
            <div class="loginoption">
                <a href="/vendor">Vendor</a>
                <a href="/admin">Admin</a>
            </div>
        </div>  
    </div>
</div>

{% endblock body %}